{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row">
            <h2>Znajdź przepis</h2>
            {% include('::formularzWyszukiwania.html.twig') %}
        </div>
    </div>
    <div class="container">
    {% include 'przepisy.html.twig' %}
    </div>
{% endblock %}