{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row">
            <h2>Znajdź przepis</h2>
            {% include('::formularzWyszukiwania.html.twig') %}
        </div>
    </div>
    <div class="container">
        <div id="lista">
            <ul class="list-unstyled">
                {% for przepis in przepisy %}
                    <li>
                        <a href="{{ path('przepisid', { 'id': przepis.id }) }}"><h4>{{ przepis.nazwa }}</h4></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}