<!DOCTYPE html>
<html>
<head>
    <title>Hello. world!</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="screen">
    <script src="{{ asset('js/skrypt.js') }}"></script>
    {#<img src="{{ asset('images/panorama.jpg') }}" />#}
</head>
<body>
<h1>Hello. word!</h1>
</body>
</html>