{% block zdjecie %}
<div class="main">
    <div class="row" id="wrapper">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" id="zdjecie">
                    <img src="{{ asset('images/kategoria/croisant.jpg') }}">
                </div>
                <div class="item" id="zdjecie">
                    <img src="{{ asset('images/kategoria/pizza.jpg') }}">
                </div>
                <div class="item" id="zdjecie">
                    <img src="{{ asset('images/kategoria/truskawki.jpg') }}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}