{% block zdjecieKategoria %}
    <div class="main">
        <div class="row" id="wrapper">
            <div>
                <div class="carousel-inner" role="listbox">
                    <div class="item active" id="zdjecie">
                        <img src="{{ asset(kategoria.image) }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}