{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    {% block zdjecie %}
    {% include('::zdjecie.html.twig') %}
    {% endblock %}
    <div class="main" id="kategorie">
        <h2>PRZEPISY</h2>
        <ul class="list-unstyled">
            {% for przepis in przepisy %}
                <h4><a href="{{ path('przepisid', { 'id': przepis.id }) }}">{{ przepis.nazwa }}</a></h4>
            {% endfor %}
        </ul>
    </div>
{% endblock %}