{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="main">
        <h2>Przepis został dodany. <a href="{{ path('dodajprzepis') }}" class="btn btn-primary btn-sm active"
                                      role="button">Powrót</a></h2>
        <div>
            {% block tabelaPrzepisow %}
                {% include('tabelaPrzepisow.html.twig') %}
            {% endblock %}
        </div>
    </div>
{% endblock %}