{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    {{ tinymce_init() }}
    <div class="container">
        <div class="row">
            <h2>Dodaj przepis</h2>
            {% include('formularzDodajPrzepis.html.twig') %}
        </div>
    </div>
    {% include('tabelaPrzepisow.html.twig') %}
{% endblock %}