{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="row">
        {% block menuKategorie %}
            {% include('::menuKategorie.html.twig') %}
        {% endblock %}

        {% block przepisKategoria %}
            {% include('::przepisy.html.twig') %}
        {% endblock %}
    </div>
{% endblock %}