{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row">
            <h2>Panel użytkownika</h2>
            <div id="lista">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('dodajkategorie') }}">Kategorie</a>
                    </li>
                    <li>
                        <a href="{{ path('dodajprzepis') }}">Wpisy</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}