{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row" id="zalogowany">
            <h2>Panel użytkownika</h2>
            <div>
                Użytkownik: {{ username }}
            </div>
            <div id="lista">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('dodajkategorie') }}">Kategorie</a>
                    </li>
                    <li>
                        <a href="{{ path('dodajprzepis') }}">Przepisy</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}