{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row" id="zalogowany">
            <h2>Panel użytkownika {{ username|upper }}</h2>
            <div id="lista">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('dodajkategorie') }}"><h3>Kategorie</h3></a>
                    </li>
                    <li>
                        <a href="{{ path('dodajprzepis') }}"><h3>Przepisy</h3></a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}"><h3>Wyloguj</h3></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}