{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="row">
        {% block menuPrzepisy %}
            {% include('::menuPrzepisy.html.twig') %}
        {% endblock %}

        {% block przepis %}
            {% include('::przepis.html.twig') %}
        {% endblock %}
    </div>
{% endblock %}