{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="row">
        {% include('::menuPrzepisy.html.twig') %}

        {% include('::przepis.html.twig') %}
    </div>
{% endblock %}