{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row" id="o_mnie">
            <h2>O kuchni</h2>
            <div>
                <h4>
                    Kuchnia, kuchnia, kuchnia
                </h4>
            </div>
        </div>
    </div>
{% endblock %}