{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    {% block zdjecie %}
        {% include('::zdjecie.html.twig') %}
    {% endblock %}
    <div class="main">
        <div class="starter-template">
            <h1>O KUCHNI</h1>
            <p class="lead"><br>:)</p>
        </div>
    </div>
{% endblock %}