{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row">
            <h2>Edytuj kategorię</h2>

            {% include('formularzDodajKategorie.html.twig') %}

        </div>
    </div>

    {% include('tabelaKategorii.html.twig') %}

{% endblock %}