{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    {% block zdjecie %}
        {% include('::zdjecie.html.twig') %}
    {% endblock %}
    <div class="main">
        <h2>Wiadomość została zapisana w bazie danych.</h2>
    </div>
{% endblock %}